@import "../../assets/styles/variables";

.containerHome{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  min-height: 100vh;
}

.home{
  width: 100%;
  background-color: $background-color1;
  padding: .4rem 1rem;
  min-height: 90vh;

  &__logo{
    width: 5rem;
  }

  &__headline{
    font-family: $font-family1;
    color: $font-color1;
    font-size: 1.1rem;
    margin: 1.8rem 0 .8rem 0;
    font-weight: 700;
    letter-spacing: 1px;
  }

  &__greeting{
    font-family: $font-family1;
    color: $font-color2;
    font-size: .79rem;
    text-align: justify;
    word-break: break-all;
  }

  &__menu{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;

    &__item{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background-color: $background-color2;
      border-radius: 5px;
      margin: .3rem 0;
      padding: 1rem .5rem;
      box-shadow: 0px 0px 1px 0px #b6bab6;  

      &__logo{
        width: 3.5rem;
        height: 3.5rem;
        margin-left: .5rem;
      }

      &__desc{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: .5rem 0;
        margin-left: -1rem;
        justify-content: space-between;
        
        .menu-title{
          font-family: $font-family1;
          color: $font-color1;
          font-size: .79rem;
        }
        
        .menu-desc{
          font-family: $font-family1;
          color: $font-color2;
          font-size: .79rem;
        }
      }

      &__arrow{
        width: 1rem;
        height: 1rem;
        align-self: center;
      }
      
    }
  }

}