$background-color1: #ecf5ec;
$background-color2: #ffffff;

$font-color1: #00508d;
$font-color2: #757575;
$font-color3: #202020;

$font-family1: 'Open Sans', sans-serif;

.app{
  margin: 0;
}

.container-home{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  min-height: 100vh;
}

.home{
  width: 100%;
  background-color: $background-color1;
  padding: .4rem 1rem;
  min-height: 90vh;

  &__logo{
    width: 5rem;
  }

  &__headline{
    font-family: $font-family1;
    color: $font-color1;
    font-size: 1.1rem;
    margin: 1.8rem 0 .8rem 0;
    font-weight: 700;
    letter-spacing: 1px;
  }

  &__greeting{
    font-family: $font-family1;
    color: $font-color2;
    font-size: .79rem;
    text-align: justify;
    word-break: break-all;
  }

  &__menu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1.5rem 0;

    &__item{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background-color: $background-color2;
      border-radius: 5px;
      margin: .3rem 0;
      padding: 1rem .5rem;
      box-shadow: 0px 0px 1px 0px #b6bab6;
      
      &__logo{
        width: 3.5rem;
        height: 3.5rem;
        margin-left: .5rem;
      }

      &__desc{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: .5rem 0;
        margin-left: -1rem;
        justify-content: space-between;
        
        .menu-title{
          font-family: $font-family1;
          color: $font-color1;
          font-size: .79rem;
        }
        
        .menu-desc{
          font-family: $font-family1;
          color: $font-color2;
          font-size: .79rem;
        }
      }

      &__arrow{
        width: 1rem;
        height: 1rem;
        align-self: center;
      }
      
    }
  }

}

.nav{
  min-height: 10vh;
  background-color: $background-color2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;


  &__item{
    padding: .5rem 0;

    &__icon{
      min-width: 1.35rem;
      height: 1.2rem;
      display: block;
      margin: .2rem auto;
    }

    &__desc{
      font-family: $font-family1;
      color: $font-color2;
      font-size: .7rem;
    }
  }
}

.cari-dokter__container{
  min-height: 100vh;
  background-color: #fafafa;
}

.cari-dokter{
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid #E8E8E8;
  background-color: $background-color2; 

  .icon-back{
    width: 1.5rem;
    height: 1.5rem;
    margin: auto 0 auto 1rem;
  
    &__link{
      display: flex;
    }
  }

  &__location{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  &__title{
    font-family: $font-family1;
    color: $font-color2;
    font-size: .8rem;
    margin: 0.5rem 0 0 1.2rem;
  }

  .select-kota{
    border:0px;
    outline:0px;
    background-color: $background-color2;
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance:none;
    background: right url('img/arrow-down.png')  no-repeat;
    padding: 0 1.2rem;
    font-family: $font-family1;
    font-size: 1.1rem;
    font-weight: 700;
    color: $font-color1;
  }

  .search-container{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 1.25rem;
  
    .search-icon{
      width: 1rem;
      height: 1rem;
      margin: auto 0;
    }
  
    .searchbox{
      border: none;
      box-sizing: border-box;
      border-radius: 3px;
      padding: 0.5rem 1rem;
      color: #F0F0F0;
      font-family: $font-family1;
      
      &:focus{
        outline: none;
        border: 1px solid $background-color1;
        box-shadow: 0 0 10px $background-color1;
      }
    }
  }

  &__spesialisasi{
    font-family: $font-family1;
    color: #757575;
    font-weight: 700;
    font-size: 1rem;
    margin: .8rem 0 .8rem 1.5rem;
  }
}

.spesialisasi__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $background-color2;
  border-bottom: 2px solid $background-color1;

  .spesialisasi__item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: .75rem 1rem;

    &__title{
      font-family: $font-family1;
      color: $font-color3;
      font-size: .9rem;
      margin-bottom: .5rem;
    }

    &__desc{
      font-family: $font-family1;
      color: $font-color2;
      font-size: .75rem;
      margin-top: .2rem;
    }

    &__arrow{
      width: 1rem;
      height: 1rem;
      align-self: center;
    }
  }
}

.jadwal-location__container{
  min-height: 100vh;
  background-color: #fafafa;

  .jadwal-location{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid #E8E8E8;
    background-color: $background-color2; 
  
    .icon-back{
      width: 1.5rem;
      height: 1.5rem;
      margin: auto 0 auto 1rem;
    
      &__link{
        display: flex;
      }
    }
  
    &__location{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
  
    &__title{
      font-family: $font-family1;
      color: $font-color2;
      font-size: .8rem;
      margin: 0.5rem 0 0 1.2rem;
    }
  
    .select-kota{
      border:0px;
      outline:0px;
      background-color: $background-color2;
      -webkit-appearance:none;
      -moz-appearance: none;
      appearance:none;
      background: right url('img/arrow-down.png')  no-repeat;
      padding: 0 1.2rem;
      font-family: $font-family1;
      font-size: 1.1rem;
      font-weight: 700;
      color: $font-color1;
    }
  
    .search-container{
      display: flex;
      flex-wrap: wrap;
      margin: 1rem 1.25rem;
    
      .searchbox{
        border: none;
        box-sizing: border-box;
        border-radius: 3px;
        padding: 0.5rem 1rem;
        color: #F0F0F0;
        font-family: $font-family1;
        
        &:focus{
          outline: none;
          border: 1px solid $background-color1;
          box-shadow: 0 0 10px $background-color1;
        }
      }
    }

    .search-icon{
      width: 1.5rem;
      height: 1.5rem;
      margin: auto;
      justify-self: flex-end;
    }

    &__sort-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 1rem 0 .75rem 0;
      
      .jadwal-location__sort{
        border: 1px solid $background-color1;
        border-radius: 20px;
        font-family: $font-family1;
        color: $font-color2;
        font-size: .8rem;
        font-weight: 700;
        margin-left: .25rem;
        margin-right: .25rem;
        padding: .5rem .75rem;
      }
    }

    &__menu{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;

      &__item{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 50%;
        border-top: 2px solid $background-color1;
        border-bottom: 2px solid $background-color1;
        border-left: 1px solid $background-color1;
        padding: 1rem;
        background: $background-color2;

        &__icon{
          width: 1.2rem;
          height: 1.2rem;
          margin-right: .5rem;
        }

        &__desc{
          font-family: $font-family1;
          color: $font-color1;
          font-size: 1rem;
          font-weight: 700;
          letter-spacing: 1px;
        }
      }
    }
  
  }

  .jadwal-praktik__container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1rem;
  
    .jadwal-praktik{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin: .3rem auto;
      background-color: $background-color2;
      border: 2px solid #E8E8E8;
      border-radius: 10px;
      padding: 1rem;

      &__desc{
        width: 76%;
        font-family: $font-family1;

        &__nama{
          color: $font-color1;
          font-size: .9rem;
          font-weight: 700;
        }

        &__rs{
          display: flex;
          margin: 1rem 0;

          &__icon{
            width: 1rem;
            height: 1rem;
            margin-right: .7rem;
          }

          &__nama{       
            color: $font-color3;
            font-size: .9rem;
            font-weight: 700;
          }
        }

        &__jadwal{
          display: flex;
          flex-wrap: wrap;

          &__icon{
            width: 1rem;
            height: 1rem;
            margin-right: .7rem;
          }

          &__jadwal{
            color: #757575;
            font-size: .75rem;
            font-weight: 700;

            .hari-ini{
              color: #43a344;
            }
          }
        }
      }

      &__photo-container{
        width: 24%;
      }

      &__photo{
        width: 100%;
        height: 58%;
        border-radius: 50%;
      }

      &__janji-online{
        width: 100%;
        background-color: $background-color1;
        border-radius: 3px;
        margin: 1rem .5rem 0 .5rem;
        padding: .5rem 1rem;
        display: flex;
        justify-content: center;
        align-content: center;


        &__icon{
          width: 1rem;
          height: 1rem;
          margin-right: 1rem;
        }

        &__desc{
          color: $font-color1;
          font-family: $font-family1;
          font-weight: 700;
          font-size: .8rem;
          letter-spacing: .5px;

        }
      }
    }
  }
}

.filter-jadwal-active{
  background-color: $background-color1;
  color: $font-color1;
}

.profil{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  background-color: #fafafa;
  min-height: 100vh;

  .icon-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: .5rem 1rem;

    .arrow{
      width: 1.5rem;
      height: 1.5rem;
    }

    .share{
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .jadwal-praktik-terdekat{
    font-family: "Open Sans", sans-serif;
    color: #757575;
    font-weight: 700;
    font-size: 1rem;
    margin: .8rem 0 .8rem 1.5rem;
  }

  &__info{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid #E8E8E8;
    

    &__desc{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-self: center;
      padding: .5rem 1rem .5rem 1.5rem;
      width: 70%;

      &__nama{
        font-family: $font-family1;
        color: $font-color1;
        font-size: 1.4rem;
        margin-bottom: .8rem;
      }

      &__sex{
        font-family: $font-family1;
        color: $font-color2;
        font-size: .9rem;
      }
    }

    &__foto{
      width: 10vh;
      height: 10vh;
      border-radius: 50%;
      margin: auto;
    }
  }

  &__jadwal-praktik{
    background-color: white;
    margin: 0 1rem;
    border-radius: 5px;
    border: 1px solid #E8E8E8;

    &__rs{
      color: $font-color1;
      font-family: $font-family1;
      font-size: .9rem;
      font-weight: 700;
      margin-bottom: .5rem;
    }

    &__date{
      color: $font-color3;
      font-family: $font-family1;
      font-size: .9rem;
      margin-bottom: .5rem;
    }

    &__jam{
      color: #757575;
      font-family: $font-family1;
      font-size: .9rem;
      margin-bottom: .5rem;
    }

    &__btn{
      background-color: #43a344;
      border: none;
      border-radius: 5px;
      padding: .5rem 1rem;
      color: $background-color2;
      font-family: sans-serif;
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: .5px;
      margin-bottom: 1rem;  
    }

    &__item{
      display: flex;
      flex-wrap: wrap;
      padding: 1rem;
      flex-direction: column;
      align-content: space-around;
      border-bottom: 1px solid #E8E8E8;
    }

    &__extra{
      display: flex;
      flex-wrap: wrap;
      margin: 1rem 0;
      justify-content: space-between;
      padding: 0 1rem;

      &__desc{
        font-family: $font-family1;
        font-weight: 700;
        font-size: .8rem;
        font-weight: 700;
        color: #43a344;
        width: 80%;
      }

      &__arrow{
        width: 20%;
        width: 1rem;
        height: 1rem;
      }
    }
  }

  &__keahlian{
    background-color: white;
    margin: 0 1rem;
    border-radius: 5px;
    border: 1px solid #E8E8E8;

    &__title{
      font-family: "Open Sans", sans-serif;
      color: #757575;
      font-weight: 700;
      font-size: 1rem;
      margin: .8rem 0 .8rem 1.5rem;
    }

    &__item{
      display: flex;
      flex-wrap: wrap;
      padding: 1rem;
      flex-direction: column;
      align-content: space-around;
      border-bottom: 1px solid #E8E8E8;

      &__desc{
        font-family: $font-family1;
        // font-weight: 700;
        font-size: .8rem;
        font-weight: 700;
        color: $font-color2;
        width: 80%;
      }

      &-hide{
        display: none;
      }
    }
    
    &__extra{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 1rem;

      &:hover{
        cursor: pointer;
      }

      &__desc{
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: .8rem;
        font-weight: 700;
        color: #43a344;
        width: 80%;
        margin-top: 1rem;
      }

      &__arrow{
        width: 1rem;
        height: 1rem;
        margin-top: 1rem;
      }
    }
  }

  &__penyakit{
    background-color: white;
    margin: 0 1rem;
    border-radius: 5px;
    border: 1px solid #E8E8E8;

    &__title{
      font-family: "Open Sans", sans-serif;
      color: #757575;
      font-weight: 700;
      font-size: 1rem;
      margin: .8rem 0 .8rem 1.5rem;
    }

    &__item{
      display: flex;
      flex-wrap: wrap;
      padding: 1rem;
      flex-direction: column;
      align-content: space-around;
      border-bottom: 1px solid #E8E8E8;

      &__desc{
        font-family: $font-family1;
        // font-weight: 700;
        font-size: .8rem;
        font-weight: 700;
        color: $font-color2;
        width: 80%;
      }

      &-hide{
        display: none;
      }
    }
    
    &__extra{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 1rem;

      &:hover{
        cursor: pointer;
      }

      &__desc{
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: .8rem;
        font-weight: 700;
        color: #43a344;
        width: 80%;
        margin-top: 1rem;
      }

      &__arrow{
        width: 1rem;
        height: 1rem;
        margin-top: 1rem;
      }
    }
  }

}

