$background-color1: #ecf5ec;
$background-color2: #ffffff;

$font-color1: #00508d;
$font-color2: #757575;

$font-family1: 'Open Sans', sans-serif;

.app{
  margin: 0;
}

.container-home{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  min-height: 100vh;
}

.home{
  width: 100%;
  background-color: $background-color1;
  padding: .4rem 1rem;
  min-height: 90vh;

  &__logo{
    width: 5rem;
  }

  &__headline{
    font-family: $font-family1;
    color: $font-color1;
    font-size: 1.1rem;
    margin: 1.8rem 0 .8rem 0;
    font-weight: 700;
    letter-spacing: 1px;
  }

  &__greeting{
    font-family: $font-family1;
    color: $font-color2;
    font-size: .79rem;
    text-align: justify;
    word-break: break-all;
  }

  &__menu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1.5rem 0;

    &__item{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background-color: #ffffff;
      border-radius: 5px;
      margin: .3rem 0;
      padding: 1rem .5rem;
      box-shadow: 0px 0px 1px 0px #b6bab6;
      
      &__logo{
        width: 3.5rem;
        height: 3.5rem;
        margin-left: .5rem;
      }

      &__desc{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: .5rem 0;
        margin-left: -1rem;
        justify-content: space-between;
        
        .menu-title{
          font-family: $font-family1;
          color: $font-color1;
          font-size: .79rem;
        }
        
        .menu-desc{
          font-family: $font-family1;
          color: $font-color2;
          font-size: .79rem;
        }
      }

      &__arrow{
        width: 1rem;
        height: 1rem;
        align-self: center;
      }
      
    }
  }

}

.nav{
  min-height: 10vh;
  background-color: $background-color2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;


  &__item{
    padding: .5rem 0;

    &__icon{
      min-width: 1.35rem;
      height: 1.2rem;
      display: block;
      margin: .2rem auto;
    }

    &__desc{
      font-family: $font-family1;
      color: $font-color2;
      font-size: .7rem;
    }
  }
}

.cari-dokter__container{
  min-height: 100vh;
  background-color: #fafafa;
}

.cari-dokter{
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid #E8E8E8;
  background-color: $background-color2; 

  .icon-back{
    width: 1.5rem;
    height: 1.5rem;
    margin: auto 0 auto 1rem;
  }

  &__location{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  &__title{
    font-family: $font-family1;
    color: $font-color2;
    font-size: .8rem;
    margin: 0.5rem 0 0 1.2rem;
  }

  .select-kota{
    border:0px;
    outline:0px;
    background-color:white;
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance:none;
    background: right url('img/arrow-down.png')  no-repeat;
    padding: 0 1.2rem;
    font-family: $font-family1;
    font-size: 1.1rem;
    font-weight: 700;
    color: $font-color1;
  }

  .search-container{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 1.25rem;
  
    .search-icon{
      width: 1rem;
      height: 1rem;
      margin: auto 0;
    }
  
    .searchbox{
      border: none;
      box-sizing: border-box;
      border-radius: 3px;
      padding: 0.25rem 1rem;
      color: #F0F0F0;
      font-family: $font-family1;
      
      &:focus{
        outline: none;
        border: 1px solid $background-color1;
        box-shadow: 0 0 10px $background-color1;
      }
    }
  }

  &__spesialisasi{
    font-family: $font-family1;
    color: #757575;
    font-weight: 700;
    font-size: 1rem;
    margin: .8rem 0 .8rem 1.5rem;
  }
}

.spesialisasi__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $background-color2;
  border-bottom: 2px solid $background-color1;

  .spesialisasi__item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: .75rem 1rem;

    &__title{
      font-family: $font-family1;
      color: #202020;
      font-size: .9rem;
      margin-bottom: .5rem;
    }

    &__desc{
      font-family: $font-family1;
      color: $font-color2;
      font-size: .75rem;
      margin-top: .2rem;
    }

    &__arrow{
      width: 1rem;
      height: 1rem;
      align-self: center;
    }
  }
}




